body{
	background: #fff;
	font-family: 'Roboto Slab', sans-serif; 
}

p{
	margin: 0px;
	padding: 0px;
}

.loading{
	background: #fff;
	display: none;
	width: 28px;
	height: 28px;
	padding: 5px;
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px 0px 0px -20px;
}

.loading img{
	display: block;
	margin: 0px	auto;
}

	#noticias{
		width: 1024px;
		margin: 30px auto 0px auto;
	}

	ul li a{
		font-family: verdana; 
		font-size: 14px; 
		font-family: 'Roboto Slab', sans-serif; 
		color: #444444;
		text-decoration: none;
		display: block;
	}
	ul li img{
		display: block;
		width: 100%;
	}
	ul{
		margin: 0px;
		padding: 0px;
	}
	ul li{
		list-style: none;
		border: 1px solid #ededed;
		display: inline-block;
		width: 23%;
		margin: 5px;
		padding: 3px;
		vertical-align: top;
		border-radius: 4px;
		min-height: 130px;
	}

	select{font-family: 'Roboto Slab', sans-serif; }
	
	@media screen and (max-width: 900px){
		#noticias{width: 100%;}
		ul li{width: 46%;}
		ul li a{font-size: 18px;}
	}

	@media screen and (max-width: 500px){
		ul li{width: 99%; margin: 5px 0px;}
		ul li a{font-size: 18px;}
		label{display: block;}
		select{ height: 32px; width: 100%;  font-size: 16px;}
	}


